<div class="py-5 height">
  <div class="row">
    <div class="col-lg-4">
      <div class="bg-light py-4 ps-5">
        <h3 class="fw-bold w-75 mt-5 mb-4">Project:<br><br>
        <span class="text-muted fs-5"><%= @project.name %>.</span>
        </h3>
        <% if user_signed_in? %>
          <div class="d-flex">
            <p><%= link_to "Edit Project", edit_project_path(@project) %></p>
            <p><%= link_to "Delete Project", @project, method: :delete, class: "text-danger ms-4" %></p>
          </div>
          <p class="mt-5"><%= link_to "Add Report", new_project_report_path(@project), class: "btn btn-primary fw-bold shadow" %>
        <% end %>
      </div>
    </div>
    <div class="col-lg-7 mx-auto">
      <h5 class="border-bottom pb-2 my-4 fw-bold">Progress Reports</h5>

      <ol class="list-group list-group-numbered list-group-flush">
      <% if @reports.present? %>
        <% @reports.each do |report| %>
          <li class="list-group-item d-flex">
            <a href="/projects/<%= @project.id %>/reports/<%= report.id %>" class="ms-2 me-5">
              <%= report.title %>
            </a>
            <span class="">
                <small class="me-4 text-muted"><%= report.files.count %> files</small>
                <small class="me-3 text-muted"><%= local_time(report.created_at) %></small>
                <% if report.comment? %>
                  <small class="me-3 text-success fw-bold">Seen</small>
                <% else %>
                  <small class="me-3 text-danger fw-bold">Not Seen</small>
                <% end %>
            </span>
          </li>
        <% end %>
      <% else %>
        <p class="text-center rounded bg-light py-3">No reports added yet!</p>
      <% end %>
      </ol>
    </div>
  </div>
</div>