<div class="py-5">
  <div class="row">
    <div class="col-lg-7 mx-auto">
      <%= link_to "Back to project", @project, class: "text-muted" %>
      <h2 class="text-center border-bottom fw-bold mt-4"><%= @report.title %>.</h2>
      <div class="mt-4">
        <p class="text-muted"><%= @report.description %></p>
        <div class="mb-4 border-bottom pb-4">
          <p class="border-bottom mb-3 py-2">Report Files</p>
          <% @report.files.each do |file| %>
            <% if file.variable? %>
              <%= link_to image_tag(file.variant(resize: "100x100")), file %>
            <% elsif file.previewable? %>
              <%= link_to image_tag(file.preview(resize: "100x100")), rails_blob_path(file, disposition: :attachment) %>
            <% elsif file.image? %>
              <%= link_to image_tag(file, width: 100), file %>
            <% else %>
              <%= link_to file.filename, rails_blob_path(file, disposition: :attachment) %>
            <% end %>
          <% end %>
        </div>
        <% if @report.comment? %>
          <p class="border-bottom mb-3 py-2">Instructor Comment</p>
          <div class="p-3 alert alert-info"><%= @report.comment %></div>
        <% else %>
          <%= link_to "Please Leave a Comment" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
