<!DOCTYPE html>
<html>
  <head>
    <title>Project Progress App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/nav' %>
    
    <div class="container">
      <% if notice %>
        <div class="alert alert-info text-center" role="alert"><%= notice %></div>
      <% end %>

      <%= yield %>

      <footer class="border-top text-center py-3 text-muted">
        <small>&copy; 2021. Project Progress Reports - Were Henry</small>
      </footer>
    </div>
  </body>
</html>
