<!DOCTYPE html>
<html>
  <head>
    <title>Project Progress App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <nav class="d-flex justify-content-end align-items-center mt-4">
        <% if current_user %>
          <span class="text-muted me-4"><%= current_user.full_name %></span>
          <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "text-muted" %>
        <% elsif current_instructor %>
          <%= link_to "Projects", projects_path, class: "text-muted me-4" %>
          <%= link_to "Sign out", destroy_instructor_session_path, method: :delete, class: "text-muted" %>
        <% else %>
          <%= link_to "Login", new_user_session_path, class: "btn btn-secondary px-3" %>
          <%= link_to "Instructor login", new_instructor_session_path, class: "ms-3 text-dark"%>
        <% end %>
      </nav>

      <% if notice %>
        <div class="alert alert-info text-center" role="alert"><%= notice %></div>
      <% end %>

      <%= yield %>

      <footer class="border-top text-center py-3 text-muted">
        <small>&copy; 2021. Project Progress Reports - Were Henry</small>
      </footer>
    </div>
  </body>
</html>
